.relevant_links {


}

h3 {
  display:inline;
}

li {
  margin: 12px;
}

button {

  background-color: #EE0;
  border-radius:5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 4px;
  border: none;
}

button:hover {

  cursor: pointer;
}
