.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Flex will be used for sidemenu and HashRouter content for desktops */
.main-content {
  display: flex;
}

/* The main HashRouter content will take up 5 times as much space as the sidemenu
when you are on desktop. */
.content {

  flex: 5;
  padding: 12px;
}

/* For mobile devices, the sidemenu is floating, so the header and HashRouter content
will be rendered with default HTML layout. */
@media screen and (max-width: 600px) {
  .main-content {
    display: block;
  }

  .content {
    flex: none;
  }
}

#myCanvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}
